.blockwidth{
    width:93vh
}

.horizontalGrid {
    width: 100%;
    overflow: hidden;
    position: relative;
  }
  
  .scrollContainer {
    display: flex;
  flex-direction: row;
  gap: 20px; /* Adjust the gap between items */
  overflow-x: scroll; /* Add scrollability */
  padding: 20px; /* Add padding to blur the edges */
  margin-bottom: -20px; /* Compensate for negative margin */
  scrollbar-width: thin; /* Style the scrollbar */
  scrollbar-color: rgba(224, 224, 224, 0.9) transparent; /* Style the scrollbar */

  }
  
  .imageItem {
    /* width: 200px; 
    height: 200px; */
    /* background-color: #e0e0e0; */
    border-radius: 20px;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); */
    border: 1px solid #FFF;
    padding: 12px;
    margin:30px;
    
    /* margin */
  }
  .textItem{

  }

  
  /* Blur the edges */
  .scrollContainer::before,
  .scrollContainer::after {
    content: '';
    width: 20px; /* Width of the blurred edges */
    flex-shrink: 0;
    background: linear-gradient(to right, transparent, #081a25);
  }
  .bottomBarSection{
    display: inline-flex;
    align-items: center;
  }

  .borderTopBottomScroll{
    /* border: ; */
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
  }
  